<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /kbs/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>

#เปลี่ยน AllowOverride None เป็น AllowOverride All ให้หมด ใน httpd.conf 