<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-file-text"></i> ใบสั่งซื้อ</h1>
      <p><strong>หน้าสร้างใบสั่งซื้อ</strong></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-title-w-btn">
          <h3 class="title">ผู้ประกอบการ</h3>
          <p>
            <button (click) = "openModal(template)" class="btn btn-primary icon-btn"><i class="fa fa-plus"></i>
              เพิ่มรายการ
            </button>
          </p>
        </div>
        <div class="tile-body">
          <hr>
          <form action="">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">ชื่อ</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">นามสกุล</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">เลขบัตรประชาชน</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">เบอร์โทร</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="">ที่อยู่</label>
                      <textarea rows="5" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="">ชื่อสถานที่/บริษัท</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="">ที่อยู่สถานที่/บริษัท</label>
                  <textarea rows="1" type="text" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12 table-responsive">
             
                <h3 class="tile-title">รายการ</h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ลำดับ</th>
                      <th>รายการ</th>
                      <th>ประเภทของค่าธรรมเนียม</th>
                      <th>จำนวน(บาท)</th>
                      <th>การจัดการ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>The Hunger Games</td>
                      <td>455-981-221</td>
                      <td>El snort testosterone trophy driving gloves handsome</td>
                      <td>$41.32</td>
                    </tr>
                  </tbody>
                </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-auth-content>

<ng-template #template>
    <app-add-item [modalRef] = "modalRef"></app-add-item>
</ng-template>