<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-file-text"></i> ใบสั่งชำระเงิน</h1>
      <!--<p><strong>หน้าสร้างใบสั่งชำระเงิน</strong></p>-->
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a [routerLink]="['/', AppURL.Authen, AuthURL.CreateOrder]">สร้างรายการ</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="tile">

        <div class='row'>
          <div class='col-sm-6'>
            <div class="input-group mb-3">
              <input class="form-control" type="text" #searchPID placeholder="ค้นหาด้วยเลขบัตรประชาชน" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary icon-btn" (click)="onSearchPid(searchPID.value)" type="button"><i class="fa fa-search"></i>ค้นหา</button>
              </div>
            </div>
          </div>
          <div class='col-sm-6'>
            <div class='form-group'>
              <button (click)="clearReceipt()" class="btn btn-info icon-btn "><i class="fa fa-file"></i>
                สร้างรายการใหม่
              </button>
              <button (click)="openModal(template)" [disabled]="!i_person" class="btn btn-primary icon-btn " style="float: right"><i
                  class="fa fa-plus"></i>
                เพิ่มรายการ
              </button>
            </div>
          </div>
        </div>


        <div class="tile-body">
          <hr>
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">ชื่อ</label>
                      <input type="text" formControlName="firstname" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">นามสกุล</label>
                      <input type="text" formControlName="lastname" class="form-control" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">เลขบัตรประชาชน</label>
                      <input type="text" formControlName="pid" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">เบอร์โทร</label>
                      <input type="text" formControlName="mobile" class="form-control" disabled>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="">ที่อยู่</label>
                      <textarea rows="5" type="text" formControlName="address" disabled class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="">ชื่อสถานที่/บริษัท</label>
                  <input type="text" formControlName="placeName" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="">ที่อยู่สถานที่/บริษัท</label>
                  <textarea rows="1" formControlName="placeAddress" type="text" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="listItems.length > 0">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <div class='form-group'>
                  <button type="submit" class="btn btn-danger icon-btn " style="float: right"><i class="fa fa-save"></i>
                    บันทึก
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row" *ngIf="listItems.length > 0">
            <div class="table-responsive col-12">
              <br />
              <table class="table table-striped ">
                <thead>
                  <tr>
                    <th class="text-center">ลำดับ</th>
                    <th class="text-center">รายการ</th>
                    <th class="text-center">ประเภท</th>
                    <th class="text-center">จำนวน(บาท)</th>
                    <th class="text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let listItem of listItems index as i">
                    <td class="text-center">{{i+1}}</td>
                    <td class="">{{listItem.description}}</td>
                    <td class="text-center">{{listItem.type}}</td>
                    <td class="text-center">{{listItem.price}}</td>
                    <td class="text-center">
                      <i (click)="onDeleteListItem(i)" class="fa fa-trash cur"></i>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right"><strong>ยอดเงินที่ต้องชำระ</strong></td>
                    <td class="text-center"><strong>{{SumtotalPrice()}}</strong></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row" *ngIf="flagPrint && listItems.length > 0">
              <div class="col-sm-12 text-center">
                <div class='form-group' >
                  <button class="btn btn-warning icon-btn" (click)="toPrint()" type="button"><i class="fa fa-print"></i>ไปยังหน้าพิมพ์</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</app-auth-content>

<ng-template #template>
  <app-add-item [modalRef]="modalRef" (listitem)="resultListItem($event)"></app-add-item>
</ng-template>
