<div class="modal-header">
  <h4 class="modal-title pull-left">เพิ่มรายการ</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" (submit)="onSubmit()">
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="form-group">
          <label for="">พรบ</label>
          <select class="form-control" formControlName="act">
            <option value="">เลือกพรบ</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">ประเภทค่าธรรมเนียม</label>
          <select class="form-control" formControlName="type">
            <option value="">เลือกประเภทค่าธรรมเนียม</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">รายการ</label>
          <select class="form-control" formControlName="list">
            <option value="">เลือกรายการ</option>
          </select>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
      เพิ่ม
    </button>
  </div>
</form>
