<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-search"></i> ค้นหาใบสั่งซื้อ</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
      <li class="breadcrumb-item"><a [routerLink]="['/', AppURL.Authen, AuthURL.SearchReceiptsPerson]">ค้นหาใบสั่งซื้อรายบุคคล</a></li>
    </ul>
  </div>

  <div class="row" id="section-to-print-no">
    <div class="col-md-12">
      <div class="tile">
        <section class="invoice">
          <h5 class="page-header">หมายเลขบัตรประชาชน</h5>
          <div class="input-group mb-3">
            <input class="form-control" #searchPID [(ngModel)]="person_cid" type="number" min="0" step="1" onkeydown="javascript: return event.keyCode == 69 ? false : true"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary icon-btn" (click)="onSearchReceiptPerson(searchPID.value)" type="button"><i class="fa fa-search"></i>ค้นหา</button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
              </mat-form-field>

              <div class="mat-elevation-z8">
                <div class="col-12 table-responsive">
                  <table class="table-hover" mat-table [dataSource]="dataSource" matSort>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                    <!-- Reference Column -->
                    <ng-container matColumnDef="id_reference">
                      <th class='text-center' mat-header-cell *matHeaderCellDef mat-sort-header> หมายเลขใบสั่งซื้อ </th>
                      <td class='text-center' mat-cell *matCellDef="let row" class='text-left'> {{row.id_reference ||
                        '-'}} </td>
                    </ng-container>

                    <!-- DateCreated Column -->
                    <ng-container matColumnDef="date_created">
                      <th class='text-center' mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ออกใบสั่งซื้อ
                      </th>
                      <td class='text-center' mat-cell *matCellDef="let row" class='text-left'>{{row.date_created |
                        date: 'dd/MM'}}/{{YearThai(row.date_created | date:'yyyy')}}</td>
                    </ng-container>

                    <!-- CID Column -->
                    <ng-container matColumnDef="cid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขบัตรประชาชน </th>
                      <td mat-cell *matCellDef="let row"> {{row.person.cid}} </td>
                    </ng-container>

                    <!-- FirstName Column -->
                    <ng-container matColumnDef="firstname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ</th>
                      <td mat-cell *matCellDef="let row"> {{row.person.firstname}} </td>
                    </ng-container>

                    <!-- LastName Column -->
                    <ng-container matColumnDef="lastname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> นามสกุล</th>
                      <td mat-cell *matCellDef="let row"> {{row.person.lastname}} </td>
                    </ng-container>

                     <!-- ReferenceCashBook Column -->
                     <ng-container matColumnDef="id_receipt_cash">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ใบเสร็จเล่มที่</th>
                        <td mat-cell *matCellDef="let row"> {{row.id_receipt_cash || '-'}} </td>
                      </ng-container>
  
  
                      <!-- ReferenceCash Column -->
                      <ng-container matColumnDef="id_receipt_cash_number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเลขใบเสร็จ</th>
                        <td mat-cell *matCellDef="let row"> {{row.id_receipt_cash_number || '-'}} </td>
                      </ng-container>
  


                    <!-- Print Column -->
                    <ng-container matColumnDef="print">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                      <td mat-cell *matCellDef="let row" class='text-left'>
                        <button type="button" (click)="onReceiptDetail(row.id_reference)" class="btn btn-danger btn-md">ดูรายละเอียด</button>
                      </td>
                    </ng-container>
                  </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-auth-content>
