<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>ระบบ ?</h1>
  </div>
  <div class="login-box">
    <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
      <h3 class="login-head">
        <i class="fa fa-lg fa-fw fa-user"></i>
        เข้าสู่ระบบ
      </h3>
      <div class="form-group">
        <label class="control-label">ผู้ใช้งาน</label>
        <input class="form-control" formControlName="username" type="text" placeholder="กรุณากรอกข้อมูล" autofocus>
      </div>
      <div class="form-group">
        <label class="control-label">รหัสผ่าน</label>
        <input class="form-control" formControlName="password" type="password" placeholder="กรุณากรอกข้อมูล">
      </div>

      <div class="form-group btn-container">
          <br/>
        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in fa-lg fa-fw"></i>เข้าสู่ระบบ</button>
      </div>
      <div class="form-group text-center">
        <br/>
        <a href="javascript:void(0)" (click)="onShowModal()">ลืมรหัสผ่าน ?</a>
      </div>
    </form>

  </div>
</section>
