table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    background:#fff;
  }
  
  td, th {
    width: 25%;
  }

  hr.style1{
    border-top: 3px solid #333;
  }

  .mat-elevation-z8{
    box-shadow:none;
  }

  .mat-header-cell{
    font-size: 14px;
    color:black;
    font-weight:800;
  }


  