/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

[data-notify="container"] {
    z-index: 1060 !important;
}

.cdk-overlay-container {
    z-index: 1060 !important;
}

.ng-invalid.ng-touched {
    border-color: red;
}